@import url("https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Ga+Maamli&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Ga+Maamli&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  justify-content: center;
  background-color: #21114f;
}
#root {
  width: 90%;
}
#homepage {
  background-image: url("https://img.freepik.com/vettori-premium/cartoon-prato-paesaggio-estate-campi-verdi-vista-primavera-prato-collina-e-cielo-blu-erba-verde_313905-666.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 80vh;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 16px 22px 9px rgba(0, 0, 0, 0.72);
  font-family: "Nunito Sans", sans-serif;
}
#homepage h3 {
  font-size: 50px;
  padding-top: 1em;
}

#homepage div {
  font-size: 130px;
  font-weight: bold;
}
#homeCard {
  border-radius: 30px;
  background: rgb(192, 67, 127);
  background: radial-gradient(
    circle,
    rgba(192, 67, 127, 1) 9%,
    rgba(55, 21, 112, 1) 78%
  );

  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  font-family: "Ga Maamli", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card {
  background: rgb(45, 110, 212);
  background: radial-gradient(
    circle,
    rgba(45, 110, 212, 1) 9%,
    rgba(33, 17, 79, 1) 78%
  );
  padding: 3rem;
  border-radius: 30px;
  margin-block: 1em;
}
.card-text h1 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.card-text div {
  color: white;
}
.card-body {
  padding: 1rem;
}
.form-label {
  text-align: center;
  padding-top: 1em;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}
.form-control {
  width: 30em;
}
